<strong>Olá {{ userName }}, </strong>
<p>Detalhes da sua matricula: </p>
<p>
  <strong>Cliente: </strong> {{ userName }} <br />
  <strong>Inicio do plano: </strong> {{ startDate }} <br />
  <strong>Fim do plano: </strong> {{ endDate }} <br />
  <strong>Preço total: </strong> R$ {{ totalPrice }} <br />
  <br />
  <small>
    A equipe Gympass agradece sua escolha.
  </small>
</p>