<strong>Olá {{ user }}, </strong>
<p>Detalhes da sua matricula: </p>
<p>
  <strong>Cliente: </strong> {{ user }} <br />
  <strong>Inicio do plano: </strong> {{ start_date }} <br />
  <strong>Fim do plano: </strong> {{ end_date }} <br />
  <strong>Preço total: </strong> R${{ total_price }} <br />
</p>